<%= stylesheet_link_tag 'top', media: 'all', 'data-turbolinks-track': 'reload' %>
<div class='top-wrapper'>
  <div class='top-inner-text'>
    <div class='mb-4'>
      <h1>VinylLog</h1>
    </div>
    <div class='text-xl mb-8'>
      <h2>VinylLogはアナログレコードのリスト作成・聴いたレコードの記録・レコードショップの検索ができるサービスです。</h2>
    </div>
  </div>
</div>

<div class='mt-10 mb-10 text-center'>
  <h3 class='text-2xl mb-6'>VinylLogでできること</h3>
  <div class='flex justify-center space-x-4'>
    <div class='card w-96 bg-base-200 shadow-xl'>
      <div class='card-body'>
        <h4 class='justify-center text-center font-bold text-lg'>レコードのリスト作成</h4>
        <p>お持ちのレコードや欲しいレコードのリストを作成し、管理しやすくします。</p>
      </div>
    </div>
    <div class='card w-96 bg-base-200 shadow-xl'>
      <div class='card-body'>
        <h4 class='justify-center text-center font-bold text-lg'>聴いたレコードの記録</h4>
        <p>聴いたレコードを記録して、いつでも振り返ることができます。</p>
      </div>
    </div>
    <div class='card w-96 bg-base-200 shadow-xl'>
      <div class='card-body'>
        <h4 class='justify-center text-center font-bold text-lg'>レコードショップの検索</h4>
        <p>近くのレコードショップを探したり、新しいショップを発見することができます。</p>
      </div>
    </div>
  </div>
</div>