<div class="flex justify-start items-center border-b border-neutral-600 py-2 mb-4">
  <div class="font-semibold"><%= t('results.columns.artist') %></div>
</div>

<div class="mx-auto overflow-x-auto">
  <% results.each do |artist| %>
    <div class="scroll flex items-center justify-start p-4 hover:bg-base-200 rounded-lg w-full whitespace-nowrap">
      <%= link_to artist.name, artist_path(artist) %>
    </div>
  <% end %>
</div>
