<div class="flex justify-start items-center border-b border-neutral-600 py-2 mb-4">
  <div class="font-semibold"><%= t('results.columns.artist') %></div>
</div>

<% results.each do |artist| %>
  <%= link_to artist_path(artist), class: "flex items-center justify-start p-4 hover:bg-base-200 rounded-lg w-full" do %>
    <div class="truncate">
      <%= artist.name %>
    </div>
  <% end %>
<% end %>
