<div class="mt-4">
  <div class="flex p-4 bg-gray-100 rounded-t-lg">
    <span class="flex-1 text-sm font-semibold text-accent"><%= t('results.columns.artist') %></span>
  </div>
  <% results.each do |artist| %>
    <div class="flex items-center justify-start p-4 rounded-lg">
      <%= link_to artist.name, artist_path(artist), class: "text-white text-lg" %>
    </div>
  <% end %>
</div>
