<div class="container mx-auto pt-3">
  <div class="flex flex-wrap">
    <div class="w-full lg:w-10/12 lg:mx-auto">

      <div class="mt-4">
        <% if @results.blank? %>
          <% if params[:q].present? %>
            <p><%= t('search.no_results') %></p>
          <% end %>
        <% else %>
          <% case @type %>
          <% when 'artist' %>
            <%= render 'artists_results', results: @results %>
          <% when 'release' %>
            <%= render 'releases_results', results: @results %>
          <% end %>
        <% end %>
      </div>

      <div class="mt-6">
        <%= paginate @results %>
      </div>
    </div>
  </div>
</div>
