<header>
  <div class="navbar bg-base-100">
    <div class="flex-1">
      <a class="btn btn-ghost text-xl">VinylLog</a>
    </div>
    <div class="flex-none gap-2">
      <%= link_to '新規作成', new_user_path, class: "btn btn-ghost" %>
      <%= link_to 'ログイン', login_path, class: "btn btn-ghost" %>
    </div>
  </div>
</header>
