<% flash.each do |message_type, message| %>
  <% case message_type.to_sym %>
  <% when :notice %>
    <div class="alert alert-success">
      <div class="flex-1">
        <label><%= message %></label>
      </div>
    </div>
  <% when :alert %>
    <div class="alert alert-error">
      <div class="flex-1">
        <label><%= message %></label>
      </div>
    </div>
  <% end %>
<% end %>
