<footer id="footer" class="footer bg-gray-800 text-white p-4">
  <div class="container mx-auto flex justify-between items-center">
    <div>
      <p>Copyright © 2024. VinylLog</p>
    </div>
    <div class="flex space-x-4">
      <a href="#" class="text-gray-400 hover:text-white">お問合せ</a>
      <a href="#" class="text-gray-400 hover:text-white">利用規約</a>
      <a href="#" class="text-gray-400 hover:text-white">プライバシーポリシー</a>
    </div>
  </div>
</footer>
