<footer id="footer" class="footer bg-neutral text-white p-4">
  <div class="container mx-auto flex justify-between items-center">
    <div>
      <p>Copyright © 2024. VinylLog</p>
    </div>
    <div class="flex space-x-4">
      <%= link_to t('footer.contact_us'), "https://twitter.com/1995_29m" %>
      <%= link_to t('footer.terms_of_use'), terms_path %>
      <%= link_to t('footer.privacy_policy'), privacy_policy_path %>
    </div>
  </div>
</footer>
