<footer id="footer" class="footer bg-neutral text-white p-4">
  <div class="mx-auto flex flex-col justify-center items-center my-6">
    <div class="flex space-x-4 md:space-x-8 mb-6">
      <%= link_to t('footer.contact_us'), "https://forms.gle/CehWB6w13ATA479w7", class: "link link-hover" %>
      <%= link_to t('footer.terms_of_use'), terms_path, class: "link link-hover" %>
      <%= link_to t('footer.privacy_policy'), privacy_policy_path, class: "link link-hover" %>
    </div>
    <p class="text-sm text-accent">Copyright © 2024. VinylLog</p>
  </div>
</footer>
