<div class="flex items-center">
  <%= search_form_for @q, url: search_path, html: { class: "search-container p-4" } do |f| %>
    <div class="flex items-center">
      <%= f.search_field :name_cont, placeholder: t('search.placeholder.keyword'), class: "input input-bordered input-neutral w-full max-w-xs" %>
      <%= select_tag :type, options_for_select(
        [
          [t('search.form.artist'), 'artist'], 
          [t('search.form.release_title'), 'release']
        ], selected: params[:type]), 
        class: "select select-bordered select-neutral" 
      %>
      <button type="submit" class="btn btn-secondary">
        <span class="i-bi-search bg-black w-4 h-4" aria-hidden="true"></span>
      </button>
    </div>
  <% end %>
  <%= render 'shared/add_item_btn' %>
</div>
