<div class="flex justify-center items-center">
  <%= search_form_for @q, url: search_path, html: { class: "join p-2" } do |f| %>
    <div class="join mr-52 md:mr-0">
      <div>
        <%= f.search_field :name_cont, placeholder: t('search.placeholder.keyword'), class: "input input-bordered join-item md:w-72" %>
      </div>
      <%= select_tag :type, options_for_select(
        [
          ["artist", 'artist'], 
          ["release", 'release']
        ], selected: params[:type]), 
        class: "select select-bordered join-item" 
      %>
      <div class="indicator">
        <button type="submit" class="btn join-item bg-primary">
          <span class="i-bi-search bg-white w-4 h-4" aria-hidden="true"></span>
        </button>
      </div>
    </div>
  <% end %>
</div>
