<div class="container mx-auto py-8 px-3 md:px-0">
  <div class="w-full max-w-lg mx-auto bg-base-200 rounded-lg p-6">
    <h1 class="text-2xl font-bold text-center mb-6"><%= t('.title') %></h1>
    <p>新しいメールアドレスに確認用のメールを送信しました。</p>
    <p>2時間以内にメール内のリンクからメールアドレスの変更を完了してください。</p>
  </div>
</div>
